{% extends "main.html" %} {% block tabs %} {{ super() }}

<style>
  .error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px; /* Added more padding on the sides */
  }

  .error-image {
    max-width: 35%;
    height: auto;
    margin-right: 30px;
  }

  .error-message-container {
    text-align: center;
    margin-left: 30px;
  }

  .error-message {
    font-size: 48px;
    margin-top: 20px;
  }

  .error-buttons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px; /* Added more gap between the blue buttons */
    margin-top: 20px;
  }

  .error-button {
    display: inline-block;
    padding: 15px 20px; /* Slightly less padding */
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #41bdf5;
    border-radius: 5px;
    width: calc(100% - 10px); /* Adjusted width to account for padding */
  }

  .error-button:hover {
    background-color: #3395c2;
  }
</style>

<div class="error-container">
  <img src="/assets/images/404.png" alt="404, page not found" class="error-image" />
  <div class="error-message-container">
    <h1 class="error-message">Let's get you back on track:</h1>
    <div class="error-buttons-container">
      <a href="/getting-started" class="error-button">Getting Started</a>
      <a href="/" class="error-button">Homepage</a>
      <a href="/setup" class="error-button">Setup</a>
      <a href="/contributing" class="error-button">Contributing</a>
    </div>
  </div>
</div>

{% endblock %}
<!-- Footer -->
{% block content %}{% endblock %}
