{% extends "main.html" %} {% block tabs %} {{ super() }}
<style>
  /* Application header should be static for the landing page */
  .md-header {
    position: initial;
  }

  /* Remove spacing, as we cannot hide it completely */
  .md-main__inner {
    margin: 0;
  }

  /* Hide main content for now */
  .md-content {
    display: none;
  }

  /* Hide table of contents */
  @media screen and (min-width: 60em) {
    .md-sidebar--secondary {
      display: none;
    }
  }

  /* Hide navigation */
  @media screen and (min-width: 76.25em) {
    .md-sidebar--primary {
      display: none;
    }
  }

  body {
    background-color: #1e2129;
  }
</style>
<released-page color-scheme="dark" channel-id="156352a6-a4f4-4507-b115-18184f3e4d24"></released-page>
{% endblock %}
