<!-- Custom HTML site displayed as the Home chapter -->

{% extends "main.html" %} {% block tabs %} {{ super() }}
<style>
  /* Application header should be static for the landing page */
  .md-header {
    position: initial;
  }

  /* Remove spacing, as we cannot hide it completely */
  .md-main__inner {
    margin: 0;
  }

  /* Hide main content for now */
  .md-content {
    display: none;
  }

  /* Hide table of contents */
  @media screen and (min-width: 60em) {
    .md-sidebar--secondary {
      display: none;
    }
  }

  /* Hide navigation */
  @media screen and (min-width: 76.25em) {
    .md-sidebar--primary {
      display: none;
    }
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #2d2d30;
    font-family: Arial, sans-serif;
  }

  .markdown-body {
    color: black; /* Adjust the text color for the light mode */
  }

  .container {
    max-width: 65%;
    margin: 0 auto;
    padding: 0 20px;
  }

  .hero-section {
    background-color: #41bdf5;
    padding: 100px 100px;
  }

  .hero-section .content {
    color: white;
    display: flex;
    align-items: center;
  }

  .text-content {
    width: 60%;
    padding: 50px;
  }

  .logo {
    width: 40%;
    text-align: center;
  }

  .hero-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .hero-section p {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #4e4e57; /* CTA button background color */
    color: white;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
  }

  .cta-button:hover {
    outline: 2px solid white; /* CTA button outline on hover */
  }

  /* Feature Description Section */
  .feature-section {
    color: white;
    background-color: #2d2d30;
    padding: 80px 0;
  }

  .feature-section .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .feature {
    flex: 0 0 calc(25% - 40px);
    text-align: center;
    margin: 20px;
    padding: 50px 20px 20px;
    background-color: #3f3f46;
  }

  .feature:hover {
    outline: 1px solid white; /* Add border on hover */
  }

  .feature h2 {
    font-size: 24px;
    margin-bottom: 15px; /* Slightly larger margin below heading */
  }

  .feature h3 {
    font-size: 20px; /* Larger font size for examples heading */
    margin-bottom: 10px; /* Smaller margin below examples heading */
  }

  .feature p {
    font-size: 18px;
  }

  .feature img {
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
  }

  .feature ul {
    list-style-type: disc; /* Use disc bullets for list items */
    font-size: 16px; /* Slightly smaller font size for list items */
    text-align: left; /* Left-align the list items */
  }

  .feature li {
    padding: 3px 0;
  }

  /* Mobile styles */
  @media screen and (max-width: 768px) {
    .container {
      max-width: 100%;
    }
    .hero-section {
      padding: 40px 20px; /* Adjust mobile padding for hero section */
    }

    .content {
      flex-direction: column; /* Stack content vertically on mobile */
      align-items: center; /* Center items on mobile */
    }

    .text-content {
      order: 1;
      width: 100%; /* Full width for text content on mobile */
      padding: 20px 0 0; /* Adjust padding for mobile */
      text-align: center; /* Center text content */
    }

    .logo {
      width: 100%; /* Adjust logo width on mobile */
      order: 0;
    }

    .cta-button {
      display: block; /* Full width for CTA button on mobile */
      margin-top: 20px; /* Add margin to separate button from text */
    }

    .feature-section {
      padding: 40px 20px; /* Adjust mobile padding for feature section */
    }

    .feature {
      flex: 0 0 calc(100% - 20px); /* Full width for features on mobile with some spacing */
      margin: 10px 0; /* Adjust margin between features */
      border-radius: 10px;
    }

    .feature p {
      font-size: 16px; /* Reduce font size for feature descriptions on mobile */
    }

    .feature h2,
    .feature h3 {
      font-size: 20px; /* Reduce font size for feature headings on mobile */
    }

    .feature img {
      width: 36px;
      height: 36px;
      margin-bottom: 8px; /* Adjust spacing for feature images on mobile */
    }
  }
</style>

<!-- Your HTML content goes here -->
<section class="hero-section">
  <div class="container">
    <div class="content">
      <div class="text-content">
        <h1>Welcome to HASS.Agent</h1>
        <p>A windows Home Assistant client(Companion App) that provides powerful features for automating your windows system.</p>
        <a href="getting-started" class="cta-button">Get Started</a>
      </div>
      <div class="logo">
        <img src="assets/images/logo/logo-256.png" alt="Hass.agent Logo" />
      </div>
    </div>
  </div>
</section>

<section class="feature-section">
  <div class="container">
    <div class="feature">
      <a href="setup/sensors">
        <img src="assets/images/icons/sensors.png" alt="Sensors Icon" />
        <h2>Sensors</h2>
        <p>Send all sorts of telemetry data from windows to home assistant.</p>
        <h3>Examples:</h3>
        <ul>
          <li>Current CPU Load</li>
          <li>Are you using webcam</li>
          <li>Are you logged in</li>
        </ul>
      </a>
    </div>
    <div class="feature">
      <a href="setup/commands">
        <img src="assets/images/icons/commands.png" alt="Commands Icon" />
        <h2>Commands</h2>
        <p>Control your pc by interacting with entities in home assistant.</p>
        <h3>Examples:</h3>
        <ul>
          <li>Open App</li>
          <li>Shutdown/logoff/restart</li>
          <li>Run powershell command</li>
        </ul>
      </a>
    </div>
    <div class="feature">
      <a href="setup/notifications">
        <img src="assets/images/icons/bell-regular.svg" alt="Notifications Icon" />
        <h2>Notifications</h2>
        <p>Send dynamic windows notifications with images and actions from home assistant.</p>
        <h3>Examples:</h3>
        <ul>
          <li>Send from automations</li>
          <li>Attach images</li>
          <li>Add actions</li>
        </ul>
      </a>
    </div>
    <div class="feature">
      <a href="setup/quick-actions">
        <img src="assets/images/icons/quick-actions.png" alt="Quick Actions Icon" />
        <h2>Quick Actions</h2>
        <p>Add any home assistant entity to your taskbar for quick access.</p>
        <h3>Examples:</h3>
        <ul>
          <li>Toggle lights</li>
          <li>Run scripts</li>
          <li>Start Vacuum</li>
        </ul>
      </a>
    </div>
  </div>
</section>

{% endblock %}
<!-- Content -->
{% block content %}{% endblock %}
