<!-- Elements added to main will be displayed on all pages -->
{% extends "base.html" %}

<!-- Outdated bar -->
{% block outdated %} You're not viewing the latest version.
<a href="{{ '../' ~ base_url }}">
  <strong>Click here to go to latest.</strong>
</a>
{% endblock %}

<!-- Announcement bar -->
{% block announce %}

<style>
  .md-announce a:hover {
    color: currentColor;
  }
  .md-announce strong {
    white-space: nowrap;
  }
  /* .announcement {
    color: white;
  }
  .announcement:hover {
    color: #41bdf5;
  } */
</style>

<strong>
  <a href="/contributing/need-help">We need help! If you have experience in C# or Python we would love to have you help out. Click here for more.</a>
</strong>

{% endblock %}
